/*
 * essential styles:
 * these make the slideshow work
 */
.slides {
  position: relative;
  height: 150px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -999;
  transition: opacity 0.3s ease-in-out;
}

.active {
  opacity: 1;
  z-index: 0;
}

/*
 * non-essential styles:
 * just for appearance; change whatever you want
 */
.slide {
  font-size: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: #333;
  color: #fff;
}

.slide:nth-of-type(1) {
  background: rgb(169, 27, 27);
}

.slide:nth-of-type(2) {
  background: orange;
}

.slide:nth-of-type(3) {
  background: green;
}

.slide:nth-of-type(4) {
  background: blue;
}

.slide:nth-of-type(5) {
  background: purple;
}

.slide:nth-of-type(6) {
  background: rgb(152, 152, 65);
}

.slide:nth-of-type(7) {
  background: brown;
}

/* custom styles */
.slides {
  margin-bottom: 10px;
}

.indicators,
.controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.indicator,
.control {
  background-color: lightgray;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.indicator:hover,
.control:hover {
  background-color: tomato;
  color: #fff;
}

.indicator.active {
  background-color: tomato;
}